* {
    box-sizing: border-box;
}

*::before, *::after {
    content: "";
    display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    --bg: #48ffa4;
    overflow: hidden;
    background: var(--bg);
    --unitSize: 1.25vmin;
}

.traceTemplate {
    position: absolute;
    height: calc(var(--unitSize) * 80);
    display: none;
    opacity: 0.2;
    /*transform: rotate(145deg);*/
}

.canvas {
    height: calc(var(--unitSize) * 80);
    width: calc(var(--unitSize) * 64);
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
    position: relative;
}

.canvas * {
    position: absolute;
}

.tina {
/*    outline: calc(var(--unitSize) * 0.1) solid red;*/
/*    width: 100%;*/
/*    height: 100%;*/
    left: calc(var(--unitSize) * 16);
    top: calc(var(--unitSize) * 3.3);
    --skin: #fef0d1;
    --cheek: pink;
    --semiblack: #4b4b4b;
    --bookBack: #5E2D31;
    --bookFront: #8d422c;
    --bookHeart: #E85764;
    --shirtLight: #93a8fb;
    --shirtDark: #5065b7;
    z-index: 1;
    /*opacity: 0.3*/
}

.face {
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 16.4);
    height: calc(var(--unitSize) * 18.6);
    top: calc(var(--unitSize) * 3.3);
    left: calc(var(--unitSize) * 10.3);
    transform: rotate(43deg);
    overflow: hidden;
    background: var(--skin);
    z-index: 2;
}

.faceTransform {
    left: calc(var(--unitSize) * 8.2);
    top: calc(var(--unitSize) * 9.3);
    transform: rotate(-43deg);
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
}

.eyeglassesEye {
    height: calc(var(--unitSize) * 3);
    width: calc(var(--unitSize) * 4.5);
    border-radius: 1% 1% 50% 50% / 1% 1% 50% 50%;
    outline: calc(var(--unitSize) * 0.6) solid;
    left: calc(var(--unitSize) * -6.8);
    top: calc(var(--unitSize) * -2.9);
}

.eyeglasses2 {
    left: calc(var(--unitSize) * 0.9);
}

.eyeglassesP1 {
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 0.5);
    border: calc(var(--unitSize) * 0.4) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * -2.6);
    left: calc(var(--unitSize) * -2.1);
}

.eyeglassesP2 {
    width: calc(var(--unitSize) * 2);
    height: calc(var(--unitSize) * 0.4);
    border: calc(var(--unitSize) * 0.2) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * -2);
    left: calc(var(--unitSize) * -8.9);
    transform: rotate(340deg);
}

.eyeglassesP3 {
    width: calc(var(--unitSize) * 1.8);
    height: calc(var(--unitSize) * 0.4);
    border: calc(var(--unitSize) * 0.2) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * -2.5);
    left: calc(var(--unitSize) * 5.5);
    transform: rotate(11deg);
}

.eye {
    width: calc(var(--unitSize) * 2.6);
    height: calc(var(--unitSize) * 0.8);
    border: calc(var(--unitSize) * 0.3) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * -1.9);
    left: calc(var(--unitSize) * -5.7);
    transform: rotate(354deg);
}

.eye2 {
    left: calc(var(--unitSize) * 2);
    transform: rotate(6deg);
}

.eyebrow {
    width: calc(var(--unitSize) * 2.7);
    height: calc(var(--unitSize) * 0.4);
    border: calc(var(--unitSize) * 0.3) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * -4.8);
    left: calc(var(--unitSize) * -5.3);
    transform: rotate(-7deg);
}

.eyebrow2 {
    transform: rotate(10deg);
    left: calc(var(--unitSize) * 1.6);
}

.nose {
    /*outline: calc(var(--unitSize) * 0.1) solid red;*/
    left: calc(var(--unitSize) * 2);
}

.noseP1 {
    width: calc(var(--unitSize) * 2.1);
    height: calc(var(--unitSize) * 0.4);
    border: calc(var(--unitSize) * 0.2) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * 0.2);
    left: calc(var(--unitSize) * -3);
    transform: rotate(259deg);
}

.noseP2 {
    width: calc(var(--unitSize) * 2.7);
    height: calc(var(--unitSize) * 1.2);
    border: calc(var(--unitSize) * 0.2) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * 1.6);
    left: calc(var(--unitSize) * -4);
    transform: rotate(160deg);
}

.mouth {
    width: calc(var(--unitSize) * 5.8);
    height: calc(var(--unitSize) * 1.2);
    border: calc(var(--unitSize) * 0.3) solid;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
    top: calc(var(--unitSize) * 4.4);
    left: calc(var(--unitSize) * -3.8);
    transform: rotate(179deg);
}

.cheek {
    width: calc(var(--unitSize) * 4.1);
    aspect-ratio: 1/1;
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
    border-radius: 50%;
    top: calc(var(--unitSize) * 1.7);
    left: calc(var(--unitSize) * -10);
    background: var(--cheek);
}

.cheek2 {
    width: calc(var(--unitSize) * 3.8);
    left: calc(var(--unitSize) * 3.9);
    top: calc(var(--unitSize) * 1.9);
}

.hairSegment1 {
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 22.3);
    height: calc(var(--unitSize) * 16.4);
    left: calc(var(--unitSize) * 6.6);
    transform: rotate(-5deg);
    z-index: 1;
    background: black;
}

.hairSegment2 {
    top: calc(var(--unitSize) * 14);
    left: calc(var(--unitSize) * 7);
}


.hairSegment2I {
    background: var(--semiblack);
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
    height: calc(var(--unitSize) * 6);
    width: calc(var(--unitSize) * 1.4);
    left: calc(var(--unitSize) * 1);
    top: calc(var(--unitSize) * -0.9);
    border-radius: 50% / 15%;
    transform: rotate(25deg);
}

.hairSegment2I:nth-of-type(2) {
    left: calc(var(--unitSize) * 2.1);
    width: calc(var(--unitSize) * 1.5);
    top: calc(var(--unitSize) * -0.6);
}

.hairSegment2I:nth-of-type(3) {
    left: calc(var(--unitSize) * 3.4);
    top: calc(var(--unitSize) * -0.4);
}

.hairSegment2I:nth-of-type(4) {
    left: calc(var(--unitSize) * 4.7);
    top: calc(var(--unitSize) * -0.3);
}

.hairSegment3 {
    width: 100%;
    height: 100%;
    top: calc(var(--unitSize) * 5);
    z-index: 2;
}

.hairSegment3I {
    background: black;
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
}

.hairSegment3I1 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 11.5);
    height: calc(var(--unitSize) * 3.3);
    top: calc(var(--unitSize) * 8.1);
    left: calc(var(--unitSize) * 1.6);
    transform: rotate(300deg);
}

.hairSegment3I2 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 9.5);
    height: calc(var(--unitSize) * 3.4);
    top: calc(var(--unitSize) * 8.5);
    left: calc(var(--unitSize) * 0.5);
    transform: rotate(301deg);
}

.hairSegment3I3 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 6.4);
    height: calc(var(--unitSize) * 2.4);
    top: calc(var(--unitSize) * 9.7);
    left: calc(var(--unitSize) * 0);
    transform: rotate(306deg);
}

.hairSegment3I4 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 1.7);
    height: calc(var(--unitSize) * 3.4);
    top: calc(var(--unitSize) * 10.1);
    left: calc(var(--unitSize) * 0.8);
    transform: rotate(248deg);
}

.hairSegment3I5 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 12.5);
    height: calc(var(--unitSize) * 3.7);
    top: calc(var(--unitSize) * 1.4);
    left: calc(var(--unitSize) * 1.5);
    transform: rotate(297deg);
}

.hairSegment3I6 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 9.5);
    height: calc(var(--unitSize) * 3.4);
    top: calc(var(--unitSize) * 7.4);
    left: calc(var(--unitSize) * 0.4);
    transform: rotate(293deg);
}

.hairSegment3I7 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 9.5);
    height: calc(var(--unitSize) * 0.7);
    top: calc(var(--unitSize) * 7.4);
    left: calc(var(--unitSize) * -1);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(123deg);
}

.hairSegment3I8 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 9.3);
    height: calc(var(--unitSize) * 3.8);
    top: calc(var(--unitSize) * 5);
    left: calc(var(--unitSize) * -2.4);
    background: var(--bg);
    transform: rotate(119deg);
}

.hairSegment3I9 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 5.7);
    height: calc(var(--unitSize) * 0.7);
    top: calc(var(--unitSize) * 3);
    left: calc(var(--unitSize) * 8.4);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(291deg);
}

.hairSegment3I10 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.3);
    height: calc(var(--unitSize) * 1.8);
    top: calc(var(--unitSize) * -0.7);
    left: calc(var(--unitSize) * 13.2);
    transform: rotate(314deg);
}

.hairSegment3I11 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.3);
    height: calc(var(--unitSize) * 2.4);
    top: calc(var(--unitSize) * -1.7);
    left: calc(var(--unitSize) * 15.8);
    transform: rotate(314deg);
}

.hairSegment3I12 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.3);
    height: calc(var(--unitSize) * 2.4);
    top: calc(var(--unitSize) * -1.7);
    left: calc(var(--unitSize) * 18.4);
    transform: rotate(314deg);
}

.hairSegment3I13 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.3);
    height: calc(var(--unitSize) * 2.4);
    top: calc(var(--unitSize) * -1.5);
    left: calc(var(--unitSize) * 20.6);
    transform: rotate(314deg);
}

.hairSegment3I4 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 1.7);
    height: calc(var(--unitSize) * 3.4);
    top: calc(var(--unitSize) * 9.9);
    left: calc(var(--unitSize) * 0.7);
    transform: rotate(248deg);
}

.hairSegment3I15 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 5.3);
    height: calc(var(--unitSize) * 2.4);
    top: calc(var(--unitSize) * 2);
    left: calc(var(--unitSize) * 23);
    transform: rotate(254deg);
}

.hairSegment3I16 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 8.8);
    height: calc(var(--unitSize) * 3.5);
    top: calc(var(--unitSize) * 6.6);
    left: calc(var(--unitSize) * 24.8);
    transform: rotate(270deg);
}
.hairSegment3I17 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.7);
    height: calc(var(--unitSize) * 1.9);
    top: calc(var(--unitSize) * 11.7);
    left: calc(var(--unitSize) * 26.3);
    transform: rotate(127deg);
}

.hairSegment3I18 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 3.7);
    height: calc(var(--unitSize) * 1.8);
    top: calc(var(--unitSize) * 12);
    left: calc(var(--unitSize) * 25.3);
    transform: rotate(309deg);
}

.hairSegment3I19 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.5);
    height: calc(var(--unitSize) * 2.1);
    top: calc(var(--unitSize) * 11);
    left: calc(var(--unitSize) * 24.1);
    transform: rotate(305deg);
}

.hairSegment3I20 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 4.1);
    height: calc(var(--unitSize) * 1.6);
    top: calc(var(--unitSize) * 10.9);
    left: calc(var(--unitSize) * 23.3);
    transform: rotate(314deg);
}

.hairSegment3I21 {
    border-radius: 50%;
    width: calc(var(--unitSize) * 2.6);
    height: calc(var(--unitSize) * 1);
    top: calc(var(--unitSize) * 11.5);
    left: calc(var(--unitSize) * 22.9);
    transform: rotate(347deg);
}

.hairSegment3I22 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 5.7);
    height: calc(var(--unitSize) * 1);
    top: calc(var(--unitSize) * 9.5);
    left: calc(var(--unitSize) * 22.2);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(123deg);
}
.hairSegment3I23 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 4.6);
    height: calc(var(--unitSize) * 0.7);
    top: calc(var(--unitSize) * 6.4);
    left: calc(var(--unitSize) * 23.9);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(70deg);
}
.hairSegment3I29 {
    border-radius: 100% 0 0 0;
    width: calc(var(--unitSize) * 2.5);
    height: calc(var(--unitSize) * 1.9);
    top: calc(var(--unitSize) * -0.2);
    left: calc(var(--unitSize) * 22.9);
    background: none;
    border: calc(var(--unitSize) * 1) solid ;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(77deg);
}

.hairSegment3I24 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 4.6);
    height: calc(var(--unitSize) * 0.7);
    top: calc(var(--unitSize) * 6.9);
    left: calc(var(--unitSize) * 23.8);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(95deg);
}

.hairSegment3I25 {
    border-radius: 50% / 100% 100% 0 0;
    width: calc(var(--unitSize) * 4.6);
    height: calc(var(--unitSize) * 0.7);
    top: calc(var(--unitSize) * 6.9);
    left: calc(var(--unitSize) * 23.8);
    background: none;
    border: calc(var(--unitSize) * 0.5) solid;
    border-bottom: 0;
    transform: rotate(86deg);
}

.hairSegment3I26 {
    width: calc(var(--unitSize) * 5);
    height: calc(var(--unitSize) * 3.2);
    top: calc(var(--unitSize) * 9.1);
    left: calc(var(--unitSize) * 24.2);
    transform: rotate(122deg);
}

.hairSegment3I27 {
    width: calc(var(--unitSize) * 5);
    height: calc(var(--unitSize) * 3.2);
    top: calc(var(--unitSize) * 5.2);
    left: calc(var(--unitSize) * 25.4);
    transform: rotate(89deg);
}

.hairSegment3I28 {
    width: calc(var(--unitSize) * 5);
    height: calc(var(--unitSize) * 3.2);
    top: calc(var(--unitSize) * 2.7);
    left: calc(var(--unitSize) * 25.7);
    transform: rotate(65deg);
}

.head {
    z-index: 1;
}

.body {
    z-index: 0;
    top: calc(var(--unitSize) * 21);
}

.neck {
    /*outline: calc(var(--unitSize) * 0.1) solid;*/
    width: calc(var(--unitSize) * 13.5);
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: calc(var(--unitSize) * -8.2);
    overflow: hidden;
    background: var(--skin);
    left: calc(var(--unitSize) * 11.4);
    z-index: 1;
}

.neck::before, .neck::after {
    position: absolute;
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 14.8);
    height: calc(var(--unitSize) * 6.8);
    background: var(--bg);
    z-index: 1;
}

.neck::before {
    top: calc(var(--unitSize) * 5.7);
    left: calc(var(--unitSize) * -9.9);
    transform: rotate(3deg);
}

.neck::after {
    top: calc(var(--unitSize) * 4.2);
    left: calc(var(--unitSize) * 8.2);
    transform: rotate(161deg);
}

.neckStroke {
    width: 100%;
    height: 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    border-radius: 50%;
}

.shirt {
    width: calc(var(--unitSize) * 10);
    height: calc(var(--unitSize) * 10);
    top: calc(var(--unitSize) * 3.5);
    left: calc(var(--unitSize) * 8.2);
}

.shirtP1 {
    background: var(--shirtLight);
    width: calc(var(--unitSize) * 13.5);
    height: calc(var(--unitSize) * 7.4);
    border: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * -1.3);
    left: calc(var(--unitSize) * 0.2);
    border-right: 0;
    border-bottom: 0;
    border-radius: 100% 0 0 0 / 100% 10% 0 0;
}

.shirtP2 {
    background: var(--shirtLight);
    width: calc(var(--unitSize) * 13.3);
    height: calc(var(--unitSize) * 6.7);
    border: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * -0.3);
    left: calc(var(--unitSize) * 7);
    border-left: 0;
    border-bottom: 0;
    border-radius: 14% 55% 0% 0% / 30% 90% 0% 0%;
}

.shirtP3 {
    background: var(--shirtLight);
    width: calc(var(--unitSize) * 14.5);
    height: calc(var(--unitSize) * 12.3);
    border-radius: 8% 5% 8% 0%/ 50%;
    border: calc(var(--unitSize) * 0.2) solid;
    border-top: 0;
    border-bottom: 0;
    top: calc(var(--unitSize) * 4.5);
    left: calc(var(--unitSize) * 2.9);
}

.breast {
    border-radius: 50% / 100% 100% 0 0;
    border: calc(var(--unitSize) * 0.1) solid;
    border-bottom: 0;
    width: calc(var(--unitSize) * 5);
    aspect-ratio: 2/1;
    top: calc(var(--unitSize) * 7.6);
    left: calc(var(--unitSize) * 2.9);
    transform: rotate(192deg);
}

.breast2 {
    transform: scaleX(-1) rotate(194deg);
    left: calc(var(--unitSize) * 12.6);
    top: calc(var(--unitSize) * 7.3);
}

.book {
    z-index: 2;
    /*outline: calc(var(--unitSize) * 0.2) solid green;*/
    left: calc(var(--unitSize) * 13.5);
    top: calc(var(--unitSize) * 4.3);
}

.bookBack {
    width: calc(var(--unitSize) * 8);
    height: calc(var(--unitSize) * 12);
    left: calc(var(--unitSize) * 1.1);
    top: calc(var(--unitSize) * -0.1);
    border: calc(var(--unitSize) * 0.1) solid;
    background: var(--bookBack);
}

.bookPaper1 {
    width: calc(var(--unitSize) * 7.9);
    height: calc(var(--unitSize) * 1.2);
    left: calc(var(--unitSize) * 0.5);
    top: calc(var(--unitSize) * -0.1);
    border: calc(var(--unitSize) * 0.1) solid;
    border-right: 0;
    transform: skewX(-27deg);
    background: white;
}

.bookPaper2 {
    width: calc(var(--unitSize) * 1);
    height: calc(var(--unitSize) * 1.2);
    left: calc(var(--unitSize) * 7.9);
    top: calc(var(--unitSize) * -0.1);
    border: calc(var(--unitSize) * 0.1) solid;
    border-radius: 50%;
    transform: skewX(-24deg);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    background: #dadada;
}


.bookPaper3 {
    width: calc(var(--unitSize) * 0.9);
    height: calc(var(--unitSize) * 11.2);
    left: calc(var(--unitSize) * 7.7);
    top: calc(var(--unitSize) * 0);
    /* border: calc(var(--unitSize) * 0.1) solid; */
    /* border-right: 0; */
    /* transform: skewX(-30deg); */
    background: #dadada;
}

.bookPaper4 {
    width: calc(var(--unitSize) * 8);
    height: calc(var(--unitSize) * 12);
    left: calc(var(--unitSize) * 0.2);
    top: calc(var(--unitSize) * 1);
    border: calc(var(--unitSize) * 0.1) solid;
    background: var(--bookFront);
}

.heartP1 {
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * 3.5);
    left: calc(var(--unitSize) * 4.2);
    /* background: red; */
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 3.6);
    transform: rotate(359deg);
    background: var(--bookHeart);
}

.heartP2 {
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * 3.5);
    left: calc(var(--unitSize) * 1.9);
    /* background: red; */
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 3.6);
    transform: rotate(1deg);
    background: var(--bookHeart);
}

.heartP3 {
    outline: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * 5.3);
    left: calc(var(--unitSize) * 3.1);
    /* background: red; */
    width: calc(var(--unitSize) * 2.9);
    aspect-ratio: 1/1;
    transform: scale(1) rotate(45deg);
    background: var(--bookHeart);
}

.heartP4 {
    /* outline: calc(var(--unitSize) * 0.1) solid; */
    top: calc(var(--unitSize) * 4.8);
    left: calc(var(--unitSize) * 2.9);
    /* background: red; */
    width: calc(var(--unitSize) * 3.3);
    aspect-ratio: 1/1;
    transform: rotate(45deg);
    background: var(--bookHeart);
}

.heartP5 {
    /* outline: calc(var(--unitSize) * 0.1) solid; */
    top: calc(var(--unitSize) * 4);
    left: calc(var(--unitSize) * 4.4);
    /* background: red; */
    width: calc(var(--unitSize) * 0.8);
    aspect-ratio: 1/1;
    transform: rotate(45deg);
    background: var(--bookHeart);
}

.book {
    /*display: none;*/
}

.arm1 {
    /*outline: calc(var(--unitSize) * 0.1) solid green;*/
    /*width: calc(var(--unitSize) * 10);*/
    top: calc(var(--unitSize) * 9.5);
    left: calc(var(--unitSize) * 8.5);
    z-index: 2;
}

.arm1P1 {
    border-radius: 5% 0% 40% 60% / 50% 0 30% 50%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 3.1);
    height: calc(var(--unitSize) * 8.5);
    left: calc(var(--unitSize) * -0.3);
    transform: rotate(1deg);
    background: var(--skin)
}

.arm1P2 {
    border-radius: 50% / 0 0 50% 60%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 3.2);
    height: calc(var(--unitSize) * 1.6);
    left: calc(var(--unitSize) * -0.2);
    top: calc(var(--unitSize) * -0.5);
    border-top: none;
    transform: rotate(10deg);
    background: var(--shirtLight);
}

.arm1P3 {
    border-radius: 50% / 0 0 100% 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 12.5);
    height: calc(var(--unitSize) * 2.8);
    left: calc(var(--unitSize) * -1);
    top: calc(var(--unitSize) * 4.9);
    border-top: none;
    transform: rotate(338deg);
    background: var(--skin);
    --horizontalClip: 70%;
    z-index: 1;
    clip-path: polygon(0% var(--horizontalClip), 100% var(--horizontalClip), 100% 100%, 0% 100%);
}

.arm1P4 {
    border-radius: 50% / 0 0 100% 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 9.1);
    height: calc(var(--unitSize) * 1.1);
    left: calc(var(--unitSize) * 1.7);
    top: calc(var(--unitSize) * 4.1);
    border-top: none;
    transform: rotate(333deg);
    /* background: var(--skin); */
    --horizontalClip: 70%;
    z-index: 1;
    clip-path: polygon(0% var(--horizontalClip), 100% var(--horizontalClip), 100% 100%, 0% 100%);
}

.arm1P5 {
    border-radius: 50% / 0 0 100% 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 1.9);
    height: calc(var(--unitSize) * 1.7);
    left: calc(var(--unitSize) * 2.5);
    top: calc(var(--unitSize) * 4.7);
    border-top: none;
    transform: rotate(35deg);
    /* background: var(--skin); */
    --horizontalClip: 70%;
    z-index: 1;
    clip-path: polygon(0% var(--horizontalClip), 100% var(--horizontalClip), 100% 100%, 0% 100%);
}

.arm1P6 {
    border-radius: 50% / 0 0 100% 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 6.9);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 7.1);
    top: calc(var(--unitSize) * 1.6);
    border-top: none;
    transform: rotate(319deg);
    /* background: var(--skin); */
    --horizontalClip: 70%;
    z-index: 1;
    clip-path: polygon(0% var(--horizontalClip), 100% var(--horizontalClip), 100% 100%, 0% 100%);
}

.arm1P7 {
    border-radius: 50% / 0 0 100% 100%;
    border: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 7.6);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 7.5);
    top: calc(var(--unitSize) * 2.9);
    border-top: none;
    transform: rotate(316deg);
    /* background: var(--skin); */
    --horizontalClip: 70%;
    z-index: 1;
    clip-path: polygon(0% var(--horizontalClip), 100% var(--horizontalClip), 100% 100%, 0% 100%);
}

.arm1P8 {
    width: calc(var(--unitSize) * 1.6);
    height: calc(var(--unitSize) * 1.6);
    left: calc(var(--unitSize) * 1.6);
    top: calc(var(--unitSize) * 5.9);
    background: var(--skin);
    transform: rotate(322deg);
}

.arm1P9 {
    width: calc(var(--unitSize) * 3.6);
    height: calc(var(--unitSize) * 1.5);
    left: calc(var(--unitSize) * 1.6);
    top: calc(var(--unitSize) * 6.3);
    background: var(--skin);
    transform: rotate(343deg);
}


.arm1P10 {
    width: calc(var(--unitSize) * 4.4);
    height: calc(var(--unitSize) * 1.5);
    left: calc(var(--unitSize) * 4.6);
    top: calc(var(--unitSize) * 5);
    background: var(--skin);
    transform: rotate(332deg);
}

.arm1P11 {
    width: calc(var(--unitSize) * 3.6);
    height: calc(var(--unitSize) * 1.6);
    left: calc(var(--unitSize) * 7.8);
    top: calc(var(--unitSize) * 3.3);
    background: var(--skin);
    transform: rotate(320deg);
}

.arm1P12 {
    width: calc(var(--unitSize) * 3.6);
    height: calc(var(--unitSize) * 1.4);
    left: calc(var(--unitSize) * 10.1);
    top: calc(var(--unitSize) * 1.3);
    background: var(--skin);
    transform: rotate(314deg);
}



.arm1P14 {
    width: calc(var(--unitSize) * 2.5);
    height: calc(var(--unitSize) * 0.8);
    left: calc(var(--unitSize) * 11.7);
    top: calc(var(--unitSize) * -0.6);
    background: var(--skin);
    transform: rotate(296deg);
    border-radius: 50%;
    border: calc(var(--unitSize) * 0.1) solid;
}

.arm1P15 {
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 12.6);
    top: calc(var(--unitSize) * -1.1);
    background: var(--skin);
    transform: rotate(315deg);
    border-radius: 50%;
    border: calc(var(--unitSize) * 0.1) solid;
}

.arm1P16 {
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 13.2);
    top: calc(var(--unitSize) * -1.1);
     background: var(--skin);
    transform: rotate(315deg);
    border-radius: 50%;
    border: calc(var(--unitSize) * 0.1) solid;
}

.arm1P17 {
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 13.1);
    top: calc(var(--unitSize) * -0.4);
     background: var(--skin);
    transform: rotate(319deg);
    border-radius: 50%;
    border: calc(var(--unitSize) * 0.1) solid;
}


.arm1P18 {
    width: calc(var(--unitSize) * 3.1);
    height: calc(var(--unitSize) * 0.7);
    left: calc(var(--unitSize) * 12.7);
    top: calc(var(--unitSize) * 0.3);
     background: var(--skin);
    transform: rotate(326deg);
    border-radius: 50%;
    border: calc(var(--unitSize) * 0.1) solid;
}

.arm1P19 {
    width: calc(var(--unitSize) * 1.7);
    height: calc(var(--unitSize) * 1.2);
    left: calc(var(--unitSize) * 12.8);
    top: calc(var(--unitSize) * -0.2);
    background: var(--skin);
    transform: rotate(326deg);
}

.arm1P20 {
    width: calc(var(--unitSize) * 1.4);
    height: calc(var(--unitSize) * 1.1);
    left: calc(var(--unitSize) * 12.1);
    top: calc(var(--unitSize) * 0.4);
    background: var(--skin);
    transform: rotate(299deg);
    z-index: 1;
}

.arm2 {
    top: calc(var(--unitSize) * 10.2);
    left: calc(var(--unitSize) * 28.4);
    z-index: 2;
    transform: rotate(1deg) scaleX(-1);
}

.arm2 .arm1P2 {
    transform: rotate(6deg);
}

.shirtP4 {
    background: var(--shirtLight);
    border-radius: 50% / 0 0 100% 100%;
    width: calc(var(--unitSize) * 16);
    height: calc(var(--unitSize) * 3.5);
    border: calc(var(--unitSize) * 0.1) solid;
    border-top: 0;
    top: calc(var(--unitSize) * 20);
    left: calc(var(--unitSize) * 0.8);
    transform: rotate(5deg);
}


.shirtP5 {
    width: calc(var(--unitSize) * 2.2);
    height: calc(var(--unitSize) * 1.3);
    top: calc(var(--unitSize) * 15.4);
    left: calc(var(--unitSize) * 2.8);
    background: var(--shirtLight);
    /*background: red;*/
    transform: rotate(15deg);
}

.shirtP6 {
    border-radius: 50% / 0 0 100% 100%;
    width: calc(var(--unitSize) * 5);
    height: calc(var(--unitSize) * 0.4);
    border: calc(var(--unitSize) * 0.1) solid;
    border-top: 0;
    top: calc(var(--unitSize) * 18.2);
    left: calc(var(--unitSize) * 14.2);
    transform: rotate(89deg);
    z-index: 1;
}

.shirtP7 {
    width: calc(var(--unitSize) * 13.2);
    height: calc(var(--unitSize) * 4.5);
    top: calc(var(--unitSize) * 15.5);
    left: calc(var(--unitSize) * 3.3);
    background: var(--shirtLight);
    transform: rotate(4deg);
}

.shirtP8 {
    width: calc(var(--unitSize) * 3.7);
    height: calc(var(--unitSize) * 4.5);
    top: calc(var(--unitSize) * 16.7);
    left: calc(var(--unitSize) * 12.8);
     background: var(--shirtLight);
    transform: rotate(351deg);
}

.shirtP9 {
    width: calc(var(--unitSize) * 4.8);
    height: calc(var(--unitSize) * 4.5);
    top: calc(var(--unitSize) * 14.7);
    left: calc(var(--unitSize) * 2.6);
    background: var(--shirtLight);
    /* background: red; */
    transform: rotate(23deg);
}

.shirtP10 {
    width: calc(var(--unitSize) * 2.4);
    height: calc(var(--unitSize) * 2.7);
    top: calc(var(--unitSize) * 17.5);
    left: calc(var(--unitSize) * 1.6);
    background: var(--shirtLight);
    /* background: red; */
    transform: rotate(33deg);
}

.shirtP11 {
    width: calc(var(--unitSize) * 10);
    height: calc(var(--unitSize) * 2.1);
    top: calc(var(--unitSize) * 19);
    left: calc(var(--unitSize) * 3.7);
    background: var(--shirtLight);
    /*background: red;*/
    transform: rotate(8deg);
}

.shirtP12 {
    width: calc(var(--unitSize) * 2.4);
    height: calc(var(--unitSize) * 2.7);
    top: calc(var(--unitSize) * 13.2);
    left: calc(var(--unitSize) * 3);
    background: var(--shirtLight);
    /* background: red; */
    transform: rotate(3deg);
}


.dress {
    z-index: -1;
    top: calc(var(--unitSize) * 43.5);
    left: calc(var(--unitSize) * 2);
}

.dress1 {
    background: var(--shirtDark);
    border-radius: 50%;
    width: calc(var(--unitSize) * 24.9);
    height: calc(var(--unitSize) * 12.1);
    top: calc(var(--unitSize) * 2.5);
    left: calc(var(--unitSize) * 0);
    outline: calc(var(--unitSize) * 0.1) solid;
    /* opacity: 0.2; */
    transform: rotate(10deg);
}

.dress2 {
    background: var(--shirtDark);
    border-radius: 50%;
    width: calc(var(--unitSize) * 20.2);
    height: calc(var(--unitSize) * 12.7);
    top: calc(var(--unitSize) * -1.8);
    left: calc(var(--unitSize) * 3.6);
    /* opacity: 0.2; */
    transform: rotate(13deg);
}

.dress5 {
    background: var(--shirtDark);
    /* border-radius: 50%; */
    width: calc(var(--unitSize) * 2.3);
    height: calc(var(--unitSize) * 6.4);
    top: calc(var(--unitSize) * 2.2);
    left: calc(var(--unitSize) * 21.3);
    /* opacity: 0.2; */
    transform: rotate(349deg);
}

.dress3 {
    background: var(--bg);
    border: calc(var(--unitSize) * 0.1) solid;
    border-radius: 50%;
    width: calc(var(--unitSize) * 7.6);
    height: calc(var(--unitSize) * 16.8);
    top: calc(var(--unitSize) * -8.7);
    left: calc(var(--unitSize) * -0.9);
    transform: rotate(43deg);
    --verticalClip: 30%;
    clip-path: polygon(var(--verticalClip) 0%, 100% 0, 100% 100%, 79% 100%);
}

.dress6 {
    background: var(--bg);
    /* background: red; */
    /* border-radius: 50%; */
    width: calc(var(--unitSize) * 2.5);
    height: calc(var(--unitSize) * 1.8);
    top: calc(var(--unitSize) * 4.6);
    z-index: 1;
    left: calc(var(--unitSize) * -2.2);
    transform: rotate(35deg);
}

.dress4 {
    background: var(--bg);
    border: calc(var(--unitSize) * 0.1) solid;
    border-radius: 50%;
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 10.4);
    top: calc(var(--unitSize) * 0.3);
    left: calc(var(--unitSize) * 23.4);
    transform: rotate(166deg);
    --verticalClip: 90%;
    clip-path: polygon(var(--verticalClip) 0%, 100% 0, 100% 100%, 79% 100%);
}

.leg {
    z-index: -2;
    top: calc(var(--unitSize) * 53);
}

.legMain {
    width: calc(var(--unitSize) * 2.5);
    height: calc(var(--unitSize) * 16.3);
    left: calc(var(--unitSize) * 12.6);
    outline: calc(var(--unitSize) * 0.1) solid;
    transform: rotate(-1deg);
    background: var(--skin);
    overflow: hidden;
}

.l1 {
    background: black;
    top: calc(var(--unitSize) * 13);
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 4);
}

.l2 {
    background: white;
    outline: calc(var(--unitSize) * 0.1) solid;
    top: calc(var(--unitSize) * 7.5);
    left: calc(var(--unitSize) * -1.4);
    width: calc(var(--unitSize) * 5.3);
    border-radius: 50%;
    height: calc(var(--unitSize) * 7.9);
    overflow: hidden;
}

.l2::before {
     background: red;
    width: calc(var(--unitSize) * 5.1);
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    position: absolute;
    top: calc(var(--unitSize) * 1.2);
    left: calc(var(--unitSize) * 0.1);
}

.l2::after {
     background: white;
    width: calc(var(--unitSize) * 6.8);
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    position: absolute;
    top: calc(var(--unitSize) * 2);
    left: calc(var(--unitSize) * -0.7);
}

.shoe {
    outline: calc(var(--unitSize) * 0.1) solid blue;
    top: calc(var(--unitSize) * 16.3);
    left: calc(var(--unitSize) * 15.3);
}

.shoeBody {
    /* top: calc(var(--unitSize) * 0.2); */
    left: calc(var(--unitSize) * -7.2);
    width: calc(var(--unitSize) * 7.2);
    height: calc(var(--unitSize) * 4.9);
    outline: calc(var(--unitSize) * 0.1) solid;
    background: white;
    overflow: hidden;
    border-radius: 70% 0 80% 20% / 75% 0 55% 25%;
}

.shoeInner {
    border-radius: 50%;
    outline: calc(var(--unitSize) * 0.1) solid;
    height: calc(var(--unitSize) * 5.3);
    width: calc(var(--unitSize) * 9.6);
    top: calc(var(--unitSize) * -1);
    left: calc(var(--unitSize) * -2);
    background: black;
    transform: rotate(346deg);
    overflow: hidden;
}

.shoeInner::before {
    outline: calc(var(--unitSize) * 0.1) solid;
    width: calc(var(--unitSize) * 7);
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--unitSize) * 1.5);
    left: calc(var(--unitSize) * -2);
    background: white;
}

.shoelace {
    background: white;
    border-radius: calc(var(--unitSize) * 0.2);
    height: calc(var(--unitSize) * 0.1);
    width: calc(var(--unitSize) * 0.5);
}

.shoelace1 {
    left: calc(var(--unitSize) * -2.3);
    transform: rotate(10deg);
}

.shoelace2 {
    left: calc(var(--unitSize) * -2.5);
    top: calc(var(--unitSize) * 0.4);
    transform: rotate(37deg);
}

.shoelace3 {
    left: calc(var(--unitSize) * -3);
    top: calc(var(--unitSize) * 0.6);
    transform: rotate(59deg);
}

.shoelace4 {
    left: calc(var(--unitSize) * -3.6);
    top: calc(var(--unitSize) * 0.7);
    transform: rotate(73deg);
}

.leg2 {
    z-index: -2;
    transform: rotate(-1deg) scaleX(-1);
    top: calc(var(--unitSize) * 52.9);
    left: calc(var(--unitSize) * 37);
}