html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #2d2d2d;
  position: relative;
}

.canvas {
  width: 800px;
  height: 800px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  //outline: 1px solid;
}

.template {
  position: absolute;
  z-index: -1;
  height: 100%;
  opacity: 0.5;
  display: none;
  transform: translate(-320px);
}

$_debug: #F00;
$blue: #0FB1DF;
$darkBlue: #0DA1CB;
$eyeBlue1: #2C4F85;
$eyeBlue2: #284779;
$eyeBlue3: #0C1D36;
$eyeBlue4: #0A1A31;
$black: #222;
$whiteBlue: #E4F9FB;
$darkWhiteBlue: #CFE2E4;
$transparent: #0000;
$skinTone1: #F4D4A7;
$darkSkinTone1: #DEC198;
$darkBorderSkinTone1: #B79F7C;
$skinTone2: #F6E0C0;
$darkSkinTone2: #E0CCAE;
$skinTone3: #E8C28C;
$skinTone4: #F3D9B2;
$skinTone5: #DEC5A2;
$yellow: #F5DA53;
$darkYellow: #DFC54A;
$darkerYellow: #CFAE07;
$white: #ECEFF4;
$lightBrown: #D1A23D;
$darkerLightBrown: #BD9237;
$pink: #E37070;
$lime: #F3F0A4;
$red: #E5373D;

.canvas {

        //opacity: 0.5;
  background: //Hair - Layer 3
        radial-gradient(50% 50% at 50% 50%, $red 85%, $lime 85%, $lime 100%, $transparent 100%) 382px 675px/47px 78px,
          radial-gradient(190% 110% at -90% 110%, $transparent calc(100% - 2px), #0003 calc(100% - 2px), #0003 100%, $transparent 100%) 416px 91px/27px 114px,
          linear-gradient(to bottom, $darkYellow 50%, $darkYellow 50%) 260px 526px/7px 44px,
          linear-gradient(to bottom right, $darkYellow 50%, $yellow 50%) 263px 526px/27px 68px,
          linear-gradient(264.4deg, $transparent 50%, $darkYellow 50%) 259px 271px/38px 272px,
          linear-gradient(to bottom left, $transparent 50%, $yellow 50%) 290px 526px/7px 68px,
          linear-gradient(802deg, $transparent 50%, $darkYellow 50%) 251px 565px/19px 28px,
          linear-gradient(87.5deg, $transparent 50%, $darkYellow 50%) 243px 275px/18px 291px,
          linear-gradient(to top right, $transparent 50%, $yellow 50%) 263px 593px/15px 31px,
          conic-gradient(from -37deg at 100% 100%, $yellow 31.5deg, $transparent 0deg) 277px 549px/26px 108px,
            // Right Ear
          radial-gradient(180% 180% at -80% 180%, $transparent calc(100% - 2px), $darkBorderSkinTone1 calc(100% - 2px), $darkBorderSkinTone1 100%, $transparent 100%) 175px 243px/77.5px 103px,
          linear-gradient(to top, $skinTone5 50%, $skinTone5 50%) 190px 340px/65px 31px,
          radial-gradient(100% 100% at 100% 0, $skinTone5 100%, $transparent 100%) 174px 347px/19px 24px,
          linear-gradient(to top right, $transparent 50%, $skinTone5 50%) 184px 369px/69px 31px,
          conic-gradient(from 127deg at 0 0, $skinTone5 35deg, $transparent 0deg) 126px 205px/129px 155px,
            //Hair - Layer 2
          linear-gradient(to top, $darkYellow 100%, $darkYellow 100%) 278.5px 210px/18px 33px,
          radial-gradient(140% 140% at 130% 140%, $transparent 97%, $darkYellow 97%) 295.5px 159px/31px 94px,
          radial-gradient(140% 140% at -30% 140%, $transparent 97%, $darkYellow 97%) 238.5px 238px/57px 12px,
          linear-gradient(to top, $yellow 100%, $yellow 100%) 371.5px 142px/70px 44px,
          radial-gradient(130% 130% at 130% 130%, $transparent 70%, $yellow 0, $yellow 90%, $transparent 90%) 270px 72px/147px 165px,
          linear-gradient(to top left, $transparent 50%, $darkYellow 50%) 246.5px 135px/111px 161px,
          linear-gradient(to top, $darkYellow 100%, $darkYellow 100%) 187.5px 229px/75px 70px,
          radial-gradient(75% 130% at 75% 130%, $transparent 65%, $darkYellow 0, $darkYellow 100%, $transparent 100%) 161px 89px/254px 165px,
          linear-gradient(to bottom, $yellow 100%, $yellow 100%) 529.5px 174px/59px 58px,
          linear-gradient(to bottom, $yellow 100%, $yellow 100%) 438.5px 141px/112px 41px,
          radial-gradient(67% 98% at 33% 98%, $transparent 60%, $yellow 0, $yellow 100%, $transparent 100%) 409.5px 86px/200px 146px,
          radial-gradient(140% 140% at -30% 140%, $transparent 97%, $yellow 97%) 238.5px 231px/88px 44px,
          radial-gradient(123% 160% at 115% 160%, $transparent 100%, $yellow 100%) 529.5px 231px/78px 39px,
          radial-gradient(107% 170% at -00% 170%, $transparent 102%, $yellow 102%) 460.5px 180px/70px 90px,
          radial-gradient(100% 100% at 100% 100%, $transparent 97%, $yellow 97%) 443.5px 179px/31px 41px,
          radial-gradient(94% 240% at 61% 250%, $transparent 90%, $yellow 90%, $yellow 111%, $transparent 111%) 326px 140px/118px 135px,
            //   Nose and Mouth
          radial-gradient(50% 120% at 50% 120%, $pink 100%, $transparent 100%,) 415px 468.5px/26.5px 4.5px,
          radial-gradient(50% 120% at 50% -20%, $pink 100%, $transparent 100%,) 415px 472.5px/26.5px 4.5px,
          radial-gradient(50% 50% at 50% 50%, $black 100%, $transparent 100%,) 413px 456.5px/31px 20.5px,
          radial-gradient(130% 50% at 130% 60%, $transparent calc(100% - 2px), $skinTone3 calc(100% - 2px), $skinTone3 100%, $transparent 100%,) 420px 394.5px/4px 20.5px,
          linear-gradient(to top right, $transparent calc(50% - 1px), $skinTone3 calc(50% - 1px), $skinTone3 calc(50% + 1.5px), $transparent calc(50% + 1.5px),) 421px 411px/7px 12px,
          linear-gradient(to bottom right, $transparent calc(50% - 1px), $skinTone3 calc(50% - 1px), $skinTone3 calc(50% + 1.5px), $transparent calc(50% + 1.5px),) 421px 378.5px/18px 24px,
            //   Eyes and Eyebrows
          radial-gradient(55% 100% at 55% 100%, $transparent 78%, $skinTone2 78%, $skinTone2 100%, $transparent 100%) 467px 272px/102px 36px,
          radial-gradient(55% 100% at 55% 100%, $transparent 78%, $lightBrown 78%, $lightBrown 100%, $transparent 100%) 468px 265px/101px 34px,
          linear-gradient(to bottom, $darkSkinTone2 50%, $darkSkinTone2 50%) 289px 274px/9px 30px,
          linear-gradient(to bottom left, $transparent 50%, $darkSkinTone2 50%) 313px 274px/2px 30px,
          radial-gradient(200% 100% at 200% 100%, $darkSkinTone2 100%, $transparent 100%) 289px 271px/24.5px 33px,
          radial-gradient(200% 100% at 200% 100%, $darkerLightBrown 100%, $transparent 100%) 292px 265px/21px 24px,
          radial-gradient(52% 100% at 48% 100%, $transparent 80%, $skinTone2 80%, $skinTone2 100%, $transparent 100%) 294px 267.8px/125px 36px,
          radial-gradient(55% 100% at 45% 100%, $transparent 80%, $lightBrown 80%, $lightBrown 100%, $transparent 100%) 298px 260.8px/122px 39px,
          linear-gradient(265deg, $transparent 50%, $darkSkinTone2 50%) 260.5px 269px/68px 136px,
          linear-gradient(265deg, $transparent 50%, $darkSkinTone2 50%) 289.5px 269px/48px 35px,
          linear-gradient(265deg, $transparent 50%, $darkSkinTone2 50%) 296.5px 364px/48px 38px,
          radial-gradient(130% 100% at 130% 0%, $transparent 100%, $darkSkinTone2 100%) 289px 280.8px/31px 84.9px,
          radial-gradient(130% 100% at 130% 100%, $transparent 100%, $darkSkinTone2 100%) 291.5px 302px/24px 54.9px,
          linear-gradient($skinTone2 50%, $skinTone2 50%) 422.5px 248px/40px 128px,
          linear-gradient($skinTone2 50%, $skinTone2 50%) 424.5px 246px/111px 49px,
          radial-gradient(50% 110% at 50% -10%, $transparent 100%, $skinTone2 100%) 460.5px 327px/111px 48.900000000000006px,
          radial-gradient(45% 130% at 60% 130%, $transparent 100%, $skinTone2 100%) 442px 294px/129px 47px,
          radial-gradient(50% 50% at 50% 50%, $eyeBlue3 100%, $transparent 100%) 445.5px 290px/65px 65px,
          radial-gradient(50% 50% at 50% 50%, $eyeBlue1 100%, $transparent 100%) 428.5px 276px/97px 95.9px,
          radial-gradient(50% 110% at 50% -10%, $white 100%, $transparent 100%) 460.5px 327px/111px 48.900000000000006px,
          radial-gradient(45% 130% at 60% 130%, $white 100%, $transparent 100%) 442px 294px/129px 47px,
          radial-gradient(50% 100% at 50% 100%, $transparent 50%, $skinTone2 50%, $skinTone2 75%, $transparent 75%) 234.5px 247px/244px 88.9px,
          radial-gradient(50% 110% at 50% -10%, $transparent 50%, $skinTone2 50%, $skinTone2 75%, $transparent 75%) 231.5px 325px/253px 113.9px,
          linear-gradient(266.5deg, $transparent 50%, #0000001a 50%) 291px 302px/53px 66px,
          radial-gradient(50% 50% at 50% 50%, $eyeBlue3 100%, $transparent 100%) 306.5px 289px/63px 63px,
          radial-gradient(50% 50% at 50% 50%, $eyeBlue1 100%, $transparent 100%) 292.5px 273px/97px 95.9px,
          radial-gradient(50% 110% at 50% -10%, $white 50%, $transparent 50%) 231.5px 325px/253px 113.9px,
          radial-gradient(50% 100% at 50% 100%, $white 50%, $transparent 50%) 234.5px 247px/244px 88.9px,
            //Face
          linear-gradient(to top, $darkSkinTone2 50%, $darkSkinTone2 50%) 254px 419px/58px 20px,
          linear-gradient(to top, $darkSkinTone2 50%, $darkSkinTone2 50%) 244px 210px/65px 210px,
          linear-gradient(to top, $skinTone2 50%, $skinTone2 50%) 347px 176px/169px 75px,
          linear-gradient(to bottom left, $transparent 50%, $darkSkinTone2 50%) 308px 226px/17px 216px,
          conic-gradient(from -54.5deg at 100% 100%, $darkSkinTone2 50deg, $transparent 0) 254px 438px/75px 54px,
          radial-gradient(100% 100% at 0% 0%, $skinTone2 50%, $transparent 50%) 552.5px 426px/26px 59px,
          radial-gradient(100% 100% at 100% 0%, $darkSkinTone2 50%, $transparent 50%) 233.5px 415px/22px 44.9px,
          radial-gradient(50% 120% at 50% -20%, $skinTone2 50%, $transparent 50%) 368.5px 531px/93px 45.9px,
          linear-gradient(to top right, $transparent 50%, $darkSkinTone2 50%) 225px 217px/20px 207px,
          linear-gradient(to top left, $transparent 50%, $skinTone2 50%) 564px 227px/24px 213px,
          linear-gradient(to top left, $transparent 50%, $skinTone2 50%) 425px 453px/133px 94px,
          linear-gradient(to top right, $transparent 50%, $skinTone2 50%) 253px 437px/154px 111px,
          linear-gradient(to top, $skinTone2 50%, $skinTone2 50%) 244px 219px/321px 197px,
          linear-gradient(to top, $skinTone2 50%, $skinTone2 50%) 547px 411px/18px 17px,
          linear-gradient(to top left, $transparent 41.5%, $skinTone2 41.5%) 406px 436px/149px 96px,
          linear-gradient(to top, $skinTone2 50%, $skinTone2 50%) 255px 411px/307px 28px,
            //Left Ear
          radial-gradient(180% 180% at 180% 180%, $transparent calc(100% - 2px), $darkBorderSkinTone1 calc(100% - 2px), $darkBorderSkinTone1 100%, $transparent 100%) 545px 227px/87.5px 118px,
          linear-gradient(to bottom, $skinTone4 100%, $skinTone4 100%) 564px 344px/39.5px 24px,
          radial-gradient(100% 100% at 0 0, $skinTone4 100%, $transparent 100%) 602px 344px/19px 24px,
          linear-gradient(to top left, $transparent 50%, $skinTone4 50%) 564px 365px/47px 22px,
          conic-gradient(from 196deg at 100% 0, $skinTone4 34deg, $transparent 0deg) 564px 202px/99px 151px,
            //Hair - Layer 1
          linear-gradient(to top left, $transparent 50%, $darkYellow 50%) 581px 227px/26px 136px,
          linear-gradient(to bottom, $yellow 50%, $yellow 50%) 548px 571px/33px 24px,
          linear-gradient(to bottom, $yellow 50%, $yellow 50%) 550px 359px/34px 213px,
          linear-gradient(to bottom right, $transparent 50%, $yellow 50%) 543px 359px/8px 244px,
          linear-gradient(to bottom left, $transparent 50%, $yellow 50%) 583px 359px/6px 204px,
          linear-gradient(to top left, $transparent 50%, $yellow 50%) 579px 563px/10px 34px,
          conic-gradient(from 2deg at 0% 100%, $yellow 24.5deg, $transparent 0deg) 541px 594px/41px 79px,
            //   Neck
          linear-gradient(to top right, $transparent 50%, $darkSkinTone1 50%) 308px 572px/3px 9px,
          linear-gradient(-7deg, $transparent 50%, $darkSkinTone1 50%) 311px 573px/44px 9px,
          linear-gradient(to bottom right, $transparent 50%, $skinTone1 50%) 354px 522px/20px 56px,
          radial-gradient(40% 60% at 50% 65%, $darkSkinTone1 100%, $transparent 100%) 349px 508px/28px 67px,
          radial-gradient(40% 60% at 50% 65%, $darkSkinTone1 100%, $transparent 100%) 349px 506px/28px 69px,
          radial-gradient(50% 130% at 50% 58%, $skinTone1 100%, $transparent 100%) 353px 513px/121px 77px,
          radial-gradient(50% 130% at 50% 58%, $skinTone1 100%, $transparent 100%) 353px 513px/121px 77px,
          radial-gradient(46% 72% at 54% 72%, $skinTone1 100%, $transparent 100%) 452px 542px/64px 31px,
          radial-gradient(46% 72% at 54% 72%, $skinTone1 100%, $transparent 100%) 452px 542px/64px 31px,
          radial-gradient(48% 72% at 50% 72%, $darkSkinTone1 100%, $transparent 100%) 304.5px 543px/70px 31px,
          radial-gradient(250% 140% at -150% -40%, $skinTone1 100%, $transparent 100%) 405px 572px/122px 130px,
          radial-gradient(250% 140% at 250% -40%, $skinTone1 100%, $transparent 100%) 296px 572px/110px 130px,
            //   Shirt
          linear-gradient(to top, $darkWhiteBlue 50%, $darkWhiteBlue 50%) 283px 549px/46px 23px,
          linear-gradient(to top, $darkWhiteBlue 50%, $darkWhiteBlue 50%) 259px 556px/48px 23px,
          linear-gradient(to top left, $transparent 50%, $darkWhiteBlue 50%) 260px 579px/11px 16px,
          linear-gradient(to top right, $transparent 50%, $darkWhiteBlue 50%) 248px 566px/12px 29px,
          linear-gradient(to top left, $transparent 50%, $darkWhiteBlue 50%) 263px 571px/120px 16px,
          linear-gradient(to top, $whiteBlue 50%, $whiteBlue 50%) 505px 563px/48px 23px,
          radial-gradient(50% 90% at 50% 90%, $whiteBlue 100%, $transparent 100%) 456px 534px/96px 30px,
          radial-gradient(50% 90% at 50% 90%, $darkWhiteBlue 100%, $transparent 100%) 283px 534px/88px 16px,
          radial-gradient(50% 90% at 50% 90%, $darkWhiteBlue 100%, $transparent 100%) 283px 534px/88px 16px,
          radial-gradient(50% 90% at 50% 90%, $darkWhiteBlue 100%, $transparent 100%) 248px 551px/37px 15px,
          radial-gradient(50% 110% at 50% -10%, $whiteBlue 100%, $transparent 100%) 468px 706px/24px 8px,
          radial-gradient(50% 100% at 50% 0%, $whiteBlue 100%, $transparent 100%) 309px 707px/22px 7px,
          linear-gradient(to top, $whiteBlue 50%, $whiteBlue 50%) 470px 588px/22px 119px,
          linear-gradient(to top, $whiteBlue 50%, $whiteBlue 50%) 309px 590px/20px 119px,
          linear-gradient(to top, $whiteBlue 50%, $whiteBlue 50%) 307px 548px/199px 119px,
          linear-gradient(to top left, $transparent 50%, $whiteBlue 50%) 491px 578px/83px 132px,
          linear-gradient(to top right, $transparent 50%, $whiteBlue 50%) 405px 666px/67px 46px,
          linear-gradient(to top left, $transparent 50%, $whiteBlue 50%) 327px 666px/80px 46px,
          linear-gradient(to top right, $transparent 50%, $whiteBlue 50%) 248px 565px/62px 145px,
          radial-gradient($darkBlue 100%, $darkBlue 100%) 228px 554px/82px 20px,
          radial-gradient(300% 100% at 300% 0%, $darkBlue 100%, $transparent 100%) 227px 555px/4px 112px,
          radial-gradient(100% 100% at 100% 100%, $transparent 100%, $darkBlue 100%) 230px 571px/118px 75px,
          radial-gradient(50% 140% at 50% 140%, $blue 100%, $transparent 100%) 549px 550px/49px 6px,
          radial-gradient(50% 140% at 50% 140%, $darkBlue 100%, $transparent 100%) 227px 547px/73px 9px,
          radial-gradient(50% 200% at 50% 0%, $blue 100%, $transparent 100%) 227px 554px/368px 204px,
          linear-gradient(to top right, $darkWhiteBlue 50%, $darkWhiteBlue 50%) 206px 560px/46px 26px,
          linear-gradient(to top right, $darkWhiteBlue 50%, $darkWhiteBlue 50%) 177px 560px/48px 81px,
          radial-gradient(100% 100% at 100% 100%, $transparent 100%, $darkWhiteBlue 100%) 217px 578px/96px 112px,
          linear-gradient(to top right, $darkWhiteBlue 50%, $darkWhiteBlue 50%) 122px 637px/96px 35px,
          radial-gradient(80% 100% at 70% 100%, $darkWhiteBlue 100%, $transparent 100%) 174px 541px/21px 22px,
          radial-gradient(100% 100% at 100% 70%, $darkWhiteBlue 100%, $transparent 100%) 95px 638px/27px 27px,
          linear-gradient(to top right, $transparent 50%, $darkWhiteBlue 50%) 131px 657px/87px 23px,
          linear-gradient(-80deg, $transparent 50%, $darkWhiteBlue 50%) 135px 671px/87px 86px,
          linear-gradient(to bottom right, $transparent 20%, $whiteBlue 20%) 165px 634px/89px 123px,
          linear-gradient(to bottom left, $transparent 50%, $darkWhiteBlue 50%) 193px 542px/62px 20px,
          linear-gradient(to bottom right, $transparent 50%, $darkWhiteBlue 50%) 98px 545px/81px 98px,
          linear-gradient(81deg, $transparent 50%, $darkWhiteBlue 50%) 61px 661px/83px 96px,
          radial-gradient(50% 120% at 50% 120%, $whiteBlue 100%, $transparent 100%) 634px 540px/19px 7px,
          linear-gradient(to bottom, $whiteBlue 50%, $whiteBlue 50%) 636px 545px/16px 25px,
          linear-gradient(to bottom, $whiteBlue 50%, $whiteBlue 50%) 685px 644px/26px 12px,
          radial-gradient(250% 80% at -150% 40%, $whiteBlue 100%, $transparent 100%) 710px 643px/3px 16px,
          linear-gradient(to bottom, $whiteBlue 50%, $whiteBlue 50%) 566px 566px/89px 116px,
          linear-gradient(to bottom, $whiteBlue 50%, $whiteBlue 50%) 566px 642px/125px 116px,
          linear-gradient(to bottom right, $transparent 50%, $whiteBlue 50%) 567px 542px/70px 26px,
          linear-gradient(to bottom left, $transparent 50%, $whiteBlue 50%) 651px 543px/62px 102px,
          linear-gradient(to top left, $transparent 50%, $whiteBlue 50%) 691px 655px/21px 104px,
            // Hair Layer 1
          radial-gradient(120% 60% at -50% 40%, $transparent 100%, $darkerYellow 100%) 172px 361px/29px 200px,
          linear-gradient(to bottom, $darkerYellow 50%, $darkerYellow 50%) 194px 367px/374px 195px,

}

.canvas {
  background-repeat: no-repeat;
}
