.canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.transform {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: 1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.flipVertical {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: -1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.tree {
    --green: green;
    --brown: #804823;
    width: calc(var(--unitSize) * 60);
    height: calc(var(--unitSize) * 80);
    display: flex;
    justify-content: center;
    align-items: center;
    --baseH: calc(var(--unitSize) * 7);
    --baseW: calc(var(--unitSize) * 0.5);
    position: relative;
}

.trunk {
    position: absolute;
    /*width: calc(var(--unitSize) * 0);*/
    border-inline: calc(var(--unitSize) * 6) solid transparent;
    border-bottom: calc(var(--unitSize) * 80) solid var(--brown);
    box-sizing: content-box;
}

.trunkShade {
    position: absolute;
    /*width: calc(var(--unitSize) * 0);*/
    border-inline: calc(var(--unitSize) * 6) solid transparent;
    border-bottom: calc(var(--unitSize) * 80) solid #79431d;
    box-sizing: content-box;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.branchFrame {
    position: absolute;
    width: calc(var(--unitSize) * 56);
    height: calc(var(--unitSize) * 10);
    /*background: #f002;*/
    top: 0;
    transform-origin: 0 0;
    --x: calc(var(--unitSize) * 10);
    --y: calc(var(--unitSize) * 5.8);
    --r: 90deg;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: calc(var(--unitSize) * 1.2);
    filter: saturate(3);
}

.branchFrameAxis {
    top: 0;
    position: absolute;
}

.branchFrameReflect {
    top: 0;
    position: absolute;
    filter: brightness(0.83);
    transform: scaleX(-1);
}


.branch {
    width: calc(4 * var(--baseW));
    border-inline: calc(1.5 * var(--baseW)) solid transparent;
    border-bottom: calc(var(--baseH)) solid var(--green);
    display: flex;
    justify-content: center;
    transform-origin: 50% 100%;
}

.branch0 {
    --x: 5%;
    --y: -82%;
    --r: 8deg;
}

.branch1 {
    --x: 1%;
    --y: 17%;
    --r: 17deg;
}

.branch2 {
    --x: -99%;
    --y: 109%;
    --r: 28deg;
}

.branch3 {
    --x: -32%;
    --y: 49%;
    --r: -37deg;
}


.branch4 {
    --x: 8%;
    --y: -33%;
    --r: -15deg;
}


.branch5 {
    --x: -52%;
    --y: 98%;
    --r: -66deg;
}

.branch6 {
    --x: -66%;
    --y: 115%;
    --r: -83deg;
}

.green0 {
    --green: #075222;
}

.green1 {
    --green: #226939;
}

.green2 {
    --green: #407a52;
}

.green3 {
    --green: #638b72;
}

.star {
    position: absolute;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0 calc(var(--unitSize) * 2) #ffe25f);
    width: calc(var(--unitSize) * 14);
    top: calc(var(--unitSize) * -2.5);
    z-index: 1;
}

.starInner {
    width: 100%;
    height: 100%;
    --lightGold: #ffdd41;
    background: repeating-conic-gradient(gold 0, gold 36deg, var(--lightGold) 36deg, var(--lightGold) 72deg);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.ball {
    width: calc(var(--unitSize) * 5);
    aspect-ratio: 1/1;
    border-radius: 50%;
    --primary: #ffdf4b;
    background: linear-gradient(transparent 20%, #0001 20%, #0001 40%, #0002 40%, #0002 60%, #0003 60%, #0003 80%, #0004 80%), var(--primary);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball::before, .ball::after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 400%;
    background: radial-gradient(#0003 20%, #0004 20%, #0004 40%, #0005 40%);

    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.ball::after {
    background: radial-gradient(#0002 20%, #0001 20%, #0001 40%, #00000000 40%);
    clip-path: polygon(100% 0%, 50% 0%, 50% 100%, 100% 100%);
}

.ball0 {
    --x: calc(var(--unitSize) * -7.7);
    --y: calc(var(--unitSize) * -14.1);
}

.ball1 {
    --x: calc(var(--unitSize) * 10.3);
    --y: calc(var(--unitSize) * -4.5);
    --primary: #ff5b5b;
    width: calc(var(--unitSize) * 4);
}

.ball2 {
    --x: calc(var(--unitSize) * -13.8);
    --y: calc(var(--unitSize) * 6.4);
    --primary: #f6f6f6;
    width: calc(var(--unitSize) * 4);
}

.ball3 {
    --x: calc(var(--unitSize) * -5.4);
    --y: calc(var(--unitSize) * 16.9);
    --primary: #ffc940;
    width: calc(var(--unitSize) * 4);
}

.ball4 {
    --x: calc(var(--unitSize) * 10.5);
    --y: calc(var(--unitSize) * 12.9);
    --primary: #fff7e2;
    width: calc(var(--unitSize) * 6);
}

.ball5 {
    --x: calc(var(--unitSize) * 4.9);
    --y: calc(var(--unitSize) * -20.4);
    --primary: #fff7e2;
    width: calc(var(--unitSize) * 3.8);
}


.ball6 {
    --x: calc(var(--unitSize) * -19.9);
    --y: calc(var(--unitSize) * 23.7);
    --primary: cyan;
    width: calc(var(--unitSize) * 5.1);
}

.giftBox1 {
    --y: calc(var(--unitSize) * -2);
    position: absolute;
    width: calc(var(--unitSize) * 8);
    height: calc(var(--unitSize) * 12);
    --ribbon: #ff4d4d;
    bottom: 0;
    border-radius: calc(var(--unitSize) * 0.5);
    overflow: hidden;
    --x: calc(var(--unitSize) * -6);
}

.giftBox1Overlay1 {
    background: url("./assets/noise.svg"), #ff9900;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(2);
}

.giftBox1Overlay2 {
    /*background: #ffcb55;*/
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(45deg, transparent 0, transparent calc(var(--unitSize) * 3), var(--ribbon) calc(var(--unitSize) * 3), var(--ribbon) calc(var(--unitSize) * 4));
}

.bowtie1 {
    position: absolute;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    --r: 52deg;
    --x: calc(var(--unitSize) * 2.3);
    --y: calc(var(--unitSize) * 3.7);
}

.bowtie1P2 {
    position: absolute;
    background: #ce4e4e;
    width: calc(var(--unitSize) * 2);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bowtie1P1 {
    width: calc(var(--unitSize) * 2);
    height: calc(var(--unitSize) * 2.5);
    z-index: 0;
    position: absolute;
    border-radius: 45% 55% 55% 45% / 50% 20% 20% 50%;
    background: #c44040;
    --x: calc(var(--unitSize) * -1.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bowtie1P1::before {
    content: "";
    position: absolute;
    width: 70%;
    height: calc(var(--unitSize) * 0.5);
    background: #c02e2e;
    border-radius: 45% 55% 55% 45% / 50%;
    margin-top: calc(var(--unitSize) * 0.2);
    transform: rotate(10deg);
    left: calc(var(--unitSize) * 0.5);
}

.giftBox2 {
    position: absolute;
    width: calc(var(--unitSize) * 15);
    height: calc(var(--unitSize) * 9);
    --ribbon: #ffffff;
    bottom: 0;
    --x: calc(var(--unitSize) * 4);
    --y: calc(var(--unitSize) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftBox2Overlay1 {
    background: url("./assets/noise.svg"), #910000;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: calc(var(--unitSize) * 0.5) calc(var(--unitSize) * 0.5);
    filter: contrast(3);
    z-index: 1;
}

.giftBox2Overlay2 {
    background: linear-gradient(90deg, transparent 30%, var(--ribbon) 30%, var(--ribbon) 40%, transparent 40%),
    linear-gradient(transparent 30%, var(--ribbon) 30%, var(--ribbon) 45%, transparent 45%);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: calc(var(--unitSize) * 0.5) calc(var(--unitSize) * 0.5) 0 0;
    filter: contrast(3);
    z-index: 1;
}

.bowtie2 {
    position: absolute;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    --x: calc(var(--unitSize) * -2.3);
    --y: calc(var(--unitSize) * -0.5);
    bottom: 100%;
    /*z-index: 2;*/
}

.bowtie2P2 {
    position: absolute;
    background: #fafafa;
    width: calc(var(--unitSize) * 2);
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bowtie2P1 {
    width: calc(var(--unitSize) * 2);
    height: calc(var(--unitSize) * 2.5);
    z-index: 0;
    position: absolute;
    border-radius: 45% 55% 55% 45% / 50% 20% 20% 50%;
    background: #ddd;
    --x: calc(var(--unitSize) * -1.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.snowflakeCanvasContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ground {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: calc(var(--unitSize) * 5);
}