.canvas {
    width: 600px;
    height: 800px;
    /*background: white;*/
}

.transform {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: 1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.flipVertical {
    --x: 0;
    --y: 0;
    --r: 0;
    --s: 0;
    --sy: 0;
    --sx: 0;
    --_scale: -1;
    transform: scaleX(var(--_scale)) translateX(var(--x)) translateY(var(--y)) rotate(var(--r)) skew(var(--s)) skewX(var(--sx)) skewY(var(--sy));
}

.tree {
    --green: green;
    --brown: #804823;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --baseH: 70px;
    --baseW: 5px;
    position: relative;
}

.trunk {
    position: absolute;
    /*width: 0px;*/
    border-inline: 60px solid transparent;
    border-bottom: 800px solid var(--brown);
    box-sizing: content-box;
}

.trunkShade {
    position: absolute;
    /*width: 0px;*/
    border-inline: 60px solid transparent;
    border-bottom: 800px solid #79431d;
    box-sizing: content-box;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.branchFrame {
    position: absolute;
    width: 560px;
    height: 100px;
    /*background: #f002;*/
    top: 0;
    transform-origin: 0 0;
    --x: 100px;
    --y: 58px;
    --r: 90deg;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    filter: saturate(3);
}

.branchFrameAxis {
    top: 0;
    position: absolute;
}

.branchFrameReflect {
    top: 0;
    position: absolute;
    filter: brightness(0.83);
    transform: scaleX(-1);
}


.branch {
    width: calc(4 * var(--baseW));
    border-inline: calc(1.5 * var(--baseW)) solid transparent;
    border-bottom: calc(var(--baseH)) solid var(--green);
    display: flex;
    justify-content: center;
    transform-origin: 50% 100%;
}

.branch0 {
    --x: 5%;
    --y: -82%;
    --r: 8deg;
}

.branch1 {
    --x: 1%;
    --y: 17%;
    --r: 17deg;
}

.branch2 {
    --x: -99%;
    --y: 109%;
    --r: 28deg;
}

.branch3 {
    --x: -32%;
    --y: 49%;
    --r: -37deg;
}


.branch4 {
    --x: 8%;
    --y: -33%;
    --r: -15deg;
}


.branch5 {
    --x: -52%;
    --y: 98%;
    --r: -66deg;
}

.branch6 {
    --x: -66%;
    --y: 115%;
    --r: -83deg;
}

.green0 {
    --green: #075222;
}

.green1 {
    --green: #226939;
}

.green2 {
    --green: #407a52;
}

.green3 {
    --green: #638b72;
}

.star {
    position: absolute;
    aspect-ratio: 1/1;
    filter: drop-shadow(0 0 20px #ffe25f);
    width: 140px;
    top: -25px;
    z-index: 1;
}

.starInner {
    width: 100%;
    height: 100%;
    --lightGold: #ffdd41;
    background: repeating-conic-gradient(gold 0, gold 36deg, var(--lightGold) 36deg, var(--lightGold) 72deg);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.ball {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --primary: #ffdf4b;
    background: linear-gradient(transparent 20%, #0001 20%, #0001 40%, #0002 40%, #0002 60%, #0003 60%, #0003 80%, #0004 80%), var(--primary);
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball::before, .ball::after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 400%;
    background: radial-gradient(#0003 20%, #0004 20%, #0004 40%, #0005 40%);

    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.ball::after {
    background: radial-gradient(#0002 20%, #0001 20%, #0001 40%, #00000000 40%);
    clip-path: polygon(100% 0%, 50% 0%, 50% 100%, 100% 100%);
}

.ball0 {
    --x: -77px;
    --y: -141px;
}

.ball1 {
    --x: 103px;
    --y: -45px;
    --primary: #ff5b5b;
    width: 40px;
}

.ball2 {
    --x: -138px;
    --y: 64px;
    --primary: #f6f6f6;
    width: 40px;
}

.ball3 {
    --x: -54px;
    --y: 169px;
    --primary: #ffc940;
    width: 40px;
}

.ball4 {
    --x: 105px;
    --y: 129px;
    --primary: #fff7e2;
    width: 60px;
}

.ball5 {
    --x: 49px;
    --y: -204px;
    --primary: #fff7e2;
    width: 38px;
}


.ball6 {
    --x: -199px;
    --y: 237px;
    --primary: cyan;
    width: 51px;
}

.giftBox1 {

    position: absolute;
    width: 80px;
    height: 120px;
    --ribbon: #ff4d4d;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    --x: -60px;
}

.giftBox1Overlay1 {
    background: url("./assets/noise.svg"), #ff9900;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: contrast(2);
}

.giftBox1Overlay2 {
    /*background: #ffcb55;*/
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(45deg, transparent 0, transparent 30px, var(--ribbon) 30px, var(--ribbon) 40px);
}

.bowtie1 {
    position: absolute;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    --r: 52deg;
    --x: 23px;
    --y: 37px;
}

.bowtie1P2 {
    position: absolute;
    background: #ce4e4e;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bowtie1P1 {
    width: 20px;
    height: 25px;
    z-index: 0;
    position: absolute;
    border-radius: 45% 55% 55% 45% / 50% 20% 20% 50%;
    background: #c44040;
    --x: -15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bowtie1P1::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    background: #c02e2e;
    border-radius: 45% 55% 55% 45% / 50%;
    margin-top: 2px;
    transform: rotate(10deg);
    left: 5px;
}

.giftBox2 {
    position: absolute;
    width: 150px;
    height: 90px;
    --ribbon: #ffffff;
    bottom: 0;
    --x: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftBox2Overlay1 {
    background: url("./assets/noise.svg"), #910000;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px 5px 0 0;
    filter: contrast(3);
    z-index: 1;
}

.giftBox2Overlay2 {
    background: linear-gradient(90deg, transparent 30%, var(--ribbon) 30%, var(--ribbon) 40%, transparent 40%),
    linear-gradient(transparent 30%, var(--ribbon) 30%, var(--ribbon) 45%, transparent 45%);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px 5px 0 0;
    filter: contrast(3);
    z-index: 1;
}

.bowtie2 {
    position: absolute;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    --r: 52deg;
    --x: -23px;
    /*--y: 37px;*/
    bottom: 100%;
    /*z-index: 2;*/
}

.bowtie2P2 {
    position: absolute;
    background: white;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bowtie1P1 {
    width: 20px;
    height: 25px;
    z-index: 0;
    position: absolute;
    border-radius: 45% 55% 55% 45% / 50% 20% 20% 50%;
    background: #c44040;
    --x: -15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}