.rotated {
    transform: rotateX(180deg);
}

.flipped {
    transform: scaleX(-1);
}

.animationLayer1 {
    transform: rotateX(5deg);
    animation: layer1 1s ease-in-out infinite;
    animation-delay: -0.5s;
}

@keyframes layer1 {
    50% {
        transform: rotateX(25deg);
    }
}


.animationLayer2 {
    transform: rotateX(15deg);
    animation: layer2 1s ease-in-out infinite;
    animation-delay: -0.3s;
}

@keyframes layer2 {
    50% {
        transform: rotateX(30deg);
    }
}

.animationLayer3 {
    transform: rotateX(-15deg);
    animation: layer3 1s ease-in-out infinite;
    animation-delay: -0.3s;
}

@keyframes layer3 {
    50% {
        transform: rotateX(15deg);
    }
}
